<div id = "video-div"></div>

<div id = "logo-container">
    <a href="#" id="logo" onclick="location.reload()">Walk Wid Me</a>
</div>

<div id = "user-links">

    <button ngvideo class="btns" ng-click="video.generateNewVid()">Walk with a different Dog</button>

</div>

