<div id = "video-div" ngvideo>
    <button ng-click="video.generateNewVid()" id = "new-vid-btn">Walk with a different Dog</button>
</div>

<form action="/">
  <input type="checkbox" value="true">Favorite<br>
  <input type="submit" value="Save">
</form>