/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/variables";
 @import "bootstrap/mixins";

body {
  font-family: Futura, Helvetica, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 100;
  width: 100vw;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 1.25em;
}

a:hover, a:visited, a:active, a:after, a:focus {
  color: #fff;
  text-decoration: none;
}

#logo-container {
  position: relative;
  width: 100%;
}

#logo {
  z-index: 20;
  position: absolute;
  text-decoration: none;
  font-size: 1.25em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 3px solid #fff;
  padding: 15px 30px;
  margin: 25px 0 0 25px;
  transition:         0.08s ease-in-out;
  -o-transition:      0.08s ease-in-out;
  -ms-transition:     0.08s ease-in-out;
  -moz-transition:    0.08s ease-in-out;
  -webkit-transition: 0.08s ease-in-out;
}

#user-links {
  z-index: 20;
  position: absolute;
  margin: 25px 0 25px 25px;
  top: 100px;
  width: 100%;
}

iframe {
  z-index: 10;
  position: absolute;
}

button:focus {
  outline: none;
}

.btns {
  position: absolute;
  z-index: 20;
  font-size: 1em;
  color: #fff;
  background: none;
  font-weight: bold;
  text-align: center;
  border: 2px solid #fff;
  padding: 15px 30px;
  margin: 5px 0;
  transition:         0.08s ease-in-out;
  -o-transition:      0.08s ease-in-out;
  -ms-transition:     0.08s ease-in-out;
  -moz-transition:    0.08s ease-in-out;
  -webkit-transition: 0.08s ease-in-out;
}

.btns:hover, #logo:hover {
  color: #333;
}

.btns:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in-out;
}

.btns:hover:before, #logo:hover:before {
  right: 0;
}

#logo:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: bottom 0.3s ease-in-out;
}

#logo:hover:before {
  bottom: 0;
}